{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
  <div id="image_list">
    {% for file in file_list %}
      <div class="image_frame">
        <a href="{% url 'languagegallery:show' hash=file.sha256 %}"
            target="_blank">
          <img src="{% url 'languagegallery:thumb' hash=file.sha256 %}">
        </a>
      </div>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <div id="upload-form">
      <form action="{% url 'languagegallery:upload' %}"
          enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="file" name="upload" required id="id_upload">
        <input type="submit" value="Send">
      </form>
    </div>
  {% endif %}

  <script type="text/python">
from browser import document

form_div = document.querySelector('#upload-form')

form_div.querySelector('input[type="submit"]').hidden = True
upload = form_div.querySelector('#id_upload')
upload.onchange = form_div.querySelector('form').submit
upload.hidden = True

button = document.createElement('button')
button.appendChild(document.createTextNode('Upload'))
button.onclick = upload.click

form_div.appendChild(upload_button)

  </script>
{% endblock %}
