{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
  {% for file in file_list %}
    <div class="image_frame">
      <a href="{% url 'languagegallery:show' file_hash=file.sha256 %}"
          target="_blank">
        <img src="{% url 'languagegallery:thumb' file_hash=file.sha256 %}">
      </a>
    </div>
  {% endfor %}

  <form action="{% url 'languagegallery:upload' %}"
      enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
    {{ upload_form }}
    </table>
    <input type="submit" value="Send"><br>
  </form>
{% endblock %}
